<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id='preloader'>
        <img src="img/preloader.gif" alt="preloader">
    </div>
    <div class="container">
        
    </div>
    
    <script src="./script/script.js"></script>
    <script src="./script/preloader.js"></script>
</body>
</html>